mixin home-slide(img,title,subtitle)
    // home slide
    .home-slider__item(style="background-image: url(images/home-bg.jpg);")
        .home-slider__content
            h1.home-slider__title Институт Конъюктуры аграрного рынка
            .home-slider__subtitle. 
                Уже более 20 лет мы осуществляем широкий круг прикладных и
                теоретических исследований в области развития мировой и отечественной
                аграрно-продовольственной системы.
            a.btn(href="#") Подробнее
    // / home slide