mixin reviews-box(name,subject,text)
    // reviews-box
    .reviews-box
        .reviews-box__header 
            img(src="images/quotes.svg", alt="")
            .reviews-box__header__content
                h5=name
                .reviews-box__subject=subject 
        .reviews-box__text=text
    // / reviews-box