mixin services-block-home(img, title, link = "#")
    // services-block-home
    a(href=link) 
        .services-block-home
            .services-block-home__img 
                img(src=img, alt="")
            .services-block-home__content
                .services-block-home__title=title
    // / services-block-home