extends layout/base

block title 
    title Главная

include mixins/home-slide
include mixins/block-dropdown

block content

    .page-header(style="background:url('images/page-header-bg.jpg') center center / cover no-repeat;")
        .page-header__overlay

    .breadcrumbs
        .container 
            .row 
                .col-lg-12 
                    ul.breadcrumbs__list
                        li 
                            a(href="index.html") Главная
                        li 
                            span ISCO под эгидой ИКАР

    section
        .container
            .row
                .col-lg-12
                    h2.text-center ISCO под эгидой ИКАР
                    .text-block.text-block--center
                        p. 
                            Уважаемые Дамы и Господа!
                        p.
                            Предлагаем Вашему вниманию один из ведущих информационно-аналитических проектов рынка сахара - Sugar Monitoring, основанного в 1999 г. и работающего под эгидой ИКАР с 2004 г.
                        p.
                            Проект нацелен на многостороннее информационное обслуживание клиентов и предлагает регулярные русскоязычные и англоязычные обзоры рынка сахара (ежемесячные, еженедельные, ежедневные, а также цены-он-лайн). Наряду с обеспечением полноты и достоверности информации гарантируется удобство пользования данными на основе максимально компактных и разнообразных отчетов. Это особенно актуально сегодня, когда информационный поток может похоронить под собой самую важную и значимую информацию.


                .col-lg-5 
                    img.img(src="images/sugar.jpg" alt="")
                .col-lg-7 
                    .text-block
                        p. 
                            Среди наших подписчиков крупнейшие компании из России, СНГ и мира, среди производителей сахара и свеклы, трейдеров, потребителей, экспедиторов, финансистов, поставщиков ресурсов в сахарную индустрию, сетевой розницы, производителей прессованного сахара и рафинада. В том числе Внешэкономбанк, Газпромбанк, Зенит, Париба, БТА, Казкоммерц, Райфайзен, Ситибанк, Альфа-банк, Рабо-инвест, Московская Биржа, Cargill, Sucden, Vitol, E.D.&F.Man, Bunge, Dreyfus, Glencore, Czarnikov, Wilmar, Продимекс, Русагро, Доминант, Кубанский сахар, Иволга, Скат, Новороссийский МТП, Русагротранс, Объединенные кондитеры, Марс, Крафт Фудс, Рошен, Конти, Брянконфи, Юнилевер, Юнимилк, Кока-Кола, Пепсико, Сады Придонья, Мегапак, Ост-аква, Главпродукт, Ленсахар, X5, Ашан, Метро, Магнит, Август, Сингента, БАСФ, Байер, АгроЭкспертГруп и другие.
                        p.
                            Получают наши материалы: Министерство сельского хозяйства России, Министерство экономического развития, Минтранс (РЖД), Росрезерв, ЦБ, ФАС. Выдержки аналитических обзоров регулярно публикуются в СМИ.
                        p.
                            На информацию нашей аналитической службы ссылаются газеты: Ведомости, Коммерсант, Российская газета, РБК-дейли, Известия, Время Новостей, Газета, Деловой Петербург, Независимая газета, Гудок, Крестьянские Ведомости, Бизнес-FM; журналы: Эксперт, Профиль, Компания, Секрет Фирмы, SmartMoney, Валютный спекулянт, Агроинвестор, Сахарная свёкла, Сахар, РЖД-Партнер; агентства: РИАН, Интерфакс, РБК, Reuters, Bloomberg, Dow Jones, Kingsman, FO Licht; ТВ: Россия-24, РБК, Эксперт, Агро, Подмосковье и другие.
                .col-lg-12 
                    h2.text-center Информационные материалы
                    +block-dropdown('Доступ к ценовой информации через Интернет-сайт по мере ее сбора', 'Информация обновляется каждые 30 минут, по мере занесения в базу данных новых ценовых позиций. Изменение цены по каждому городу маркируется цветом, что позволяет наглядно в реальном времени представлять картину рынка. Ценовая информация сопровождается ежедневными комментариями маркетологов по ситуации в городах.',false)
                    +block-dropdown('Рассылка цен московских трейдеров', 'Информация обновляется каждые 30 минут, по мере занесения в базу данных новых ценовых позиций. Изменение цены по каждому городу маркируется цветом, что позволяет наглядно в реальном времени представлять картину рынка. Ценовая информация сопровождается ежедневными комментариями маркетологов по ситуации в городах.',false)
                    +block-dropdown('Ежедневный информационный бюллетень ', 'Информация обновляется каждые 30 минут, по мере занесения в базу данных новых ценовых позиций. Изменение цены по каждому городу маркируется цветом, что позволяет наглядно в реальном времени представлять картину рынка. Ценовая информация сопровождается ежедневными комментариями маркетологов по ситуации в городах.',false)
                    +block-dropdown('Ежедневный информационный бюллетень ', 'Информация обновляется каждые 30 минут, по мере занесения в базу данных новых ценовых позиций. Изменение цены по каждому городу маркируется цветом, что позволяет наглядно в реальном времени представлять картину рынка. Ценовая информация сопровождается ежедневными комментариями маркетологов по ситуации в городах.')
                    +block-dropdown('Ежемесячный обзор рынка', 'Информация обновляется каждые 30 минут, по мере занесения в базу данных новых ценовых позиций. Изменение цены по каждому городу маркируется цветом, что позволяет наглядно в реальном времени представлять картину рынка. Ценовая информация сопровождается ежедневными комментариями маркетологов по ситуации в городах.')
                    +block-dropdown('Официальные справки ИКАР о биржевой и российской цене на сахар', 'Информация обновляется каждые 30 минут, по мере занесения в базу данных новых ценовых позиций. Изменение цены по каждому городу маркируется цветом, что позволяет наглядно в реальном времени представлять картину рынка. Ценовая информация сопровождается ежедневными комментариями маркетологов по ситуации в городах.')
                    +block-dropdown('Города, в которых ежедневно проводится мониторинг', 'Информация обновляется каждые 30 минут, по мере занесения в базу данных новых ценовых позиций. Изменение цены по каждому городу маркируется цветом, что позволяет наглядно в реальном времени представлять картину рынка. Ценовая информация сопровождается ежедневными комментариями маркетологов по ситуации в городах.')
                    +block-dropdown('Морские порты, по которым осуществляется мониторинг импорта', 'Информация обновляется каждые 30 минут, по мере занесения в базу данных новых ценовых позиций. Изменение цены по каждому городу маркируется цветом, что позволяет наглядно в реальном времени представлять картину рынка. Ценовая информация сопровождается ежедневными комментариями маркетологов по ситуации в городах.')
                    +block-dropdown('Остальные источники информации', 'Информация обновляется каждые 30 минут, по мере занесения в базу данных новых ценовых позиций. Изменение цены по каждому городу маркируется цветом, что позволяет наглядно в реальном времени представлять картину рынка. Ценовая информация сопровождается ежедневными комментариями маркетологов по ситуации в городах.')
                    +block-dropdown('Цены и условия подписки', 'Информация обновляется каждые 30 минут, по мере занесения в базу данных новых ценовых позиций. Изменение цены по каждому городу маркируется цветом, что позволяет наглядно в реальном времени представлять картину рынка. Ценовая информация сопровождается ежедневными комментариями маркетологов по ситуации в городах.')
    section.location
        .container
            .row
                .col-lg-12
                    h3.text-center Города, в которых ежедневно проводится мониторинг
                    img.img(src="images/russia.jpg")
                .col-lg-12 
                    .text-center.text-block--center
                        h4 Морские порты, по которым осуществляется мониторинг импорта:
                        p. 
                            Новороссийск, Туапсе, Владивосток, Одесса, Рига, Клайпеда, Вентспилс, Батуми, Поти и др.

                        h4 Остальные источники информации
                        p. 
                            Ежедневные/еженедельные информационные бюллетени агентства Kingsman
                        p. 
                            Обзоры рынка сахара Международной организации по сахару и ведущих мировых операторов рынка
                        p.
                            Информационные бюллетени, производственные показатели сахарных заводов, данные свекловичной и сырцовой кампаний Союза сахаропроизводителей России
                        p. 
                            Статистическая информация по продовольственному рынку России: Росстат, ФТС (ГТК), Минсельхоз, РЖД и др.
                        p.
                            Собственные источники
                        p. 
                            Специально для широкой отраслевой общественности рассчитывается и публикуется в открытом доступе ежедневные ценовые индексы на сахар, представляющие собой взвешенные оптовые цены на сахар, с учетом НДС и упаковки (см. методику расчета индексов ISCO-IKAR).
                        p.
                            Обращаем Ваше внимание, что Производственный индекс оптовых цен на сахар ISCO-ИКАР является средневзвешенным индексом оптовых цен на сахар по 18 сахаропроизводящим регионам. В указанный индекс включаются цены не только заводов, но и оптовых баз, давальцев, и т.д. Поэтому данный индекс как правило выше цен краснодарских заводов, особенно в августе-сентябре.
                            Индекс создан и служит для отображения рыночной динамики, а не уровня заводских цен на сахар.
                    

                        