extends layout/base

block title 
    title Главная

include mixins/home-slide
include mixins/block-dropdown

block content

    .page-header(style="background:url('images/page-header-bg.jpg') center center / cover no-repeat;")
        .page-header__overlay

    .breadcrumbs
        .container 
            .row 
                .col-lg-12 
                    ul.breadcrumbs__list
                        li 
                            a(href="index.html") Главная
                        li 
                            span Партнеры и клиенты

    section.text-block
        .container
            .row
                .col-lg-12 
                    h2.text-center Услуги
                .col-lg-4 

                .col-lg-8
                    +block-dropdown('Ежемесячные обзоры состояния отечественных аграрно-промышленных продовольственных рынков','dfsdv', true)
                    +block-dropdown('Информация о внешне торговой деятельности ','dfsdv', true)
                    +block-dropdown('Информация по ж/д перевозкам','dfsdv', true)
                    +block-dropdown('Периодические и разовые исследования','dfsdv', true)
                    +block-dropdown('Оперативные обзоры','dfsdv', true)
                    +block-dropdown('Ежеквартальные обзоры','dfsdv', true)
                    +block-dropdown('Ежегодные обзоры','dfsdv', true)
                    +block-dropdown('Ценовые дайджесты','dfsdv', true)

                        
                    //-  +block-dropdown(
                    //-     'Информация о внешне торговой деятельности', 
                    //-     '<ul>
                    //-     <li>Мясного рынка</li>
                    //-     <li>Рынка мяса птицы</li>
                    //-     <li>Молочное животноводство</li>
                    //-     <li>Рынок молочных продуктов</li>
                    //-     <li>Сахарного рынка РФ и СНГ </li>
                    //-     <li>Мирового рынка риса</li>
                    //-     </ul>',
                    //-     true)
                    //-  +block-dropdown(
                    //-     'Информация по ж/д перевозкам', 
                    //-     '<ul>
                    //-     <li>Мясного рынка</li>
                    //-     <li>Рынка мяса птицы</li>
                    //-     <li>Молочное животноводство</li>
                    //-     <li>Рынок молочных продуктов</li>
                    //-     <li>Сахарного рынка РФ и СНГ </li>
                    //-     <li>Мирового рынка риса</li>
                    //-     </ul>',
                    //-     true)
                    //-  +block-dropdown(
                    //-     'Периодические и разовые исследования', 
                    //-     '<ul>
                    //-     <li>Мясного рынка</li>
                    //-     <li>Рынка мяса птицы</li>
                    //-     <li>Молочное животноводство</li>
                    //-     <li>Рынок молочных продуктов</li>
                    //-     <li>Сахарного рынка РФ и СНГ </li>
                    //-     <li>Мирового рынка риса</li>
                    //-     </ul>',
                    //-     true)
                    //- +block-dropdown(
                    //-     'Оперативные обзоры', 
                    //-     '<ul>
                    //-     <li>Мясного рынка</li>
                    //-     <li>Рынка мяса птицы</li>
                    //-     <li>Молочное животноводство</li>
                    //-     <li>Рынок молочных продуктов</li>
                    //-     <li>Сахарного рынка РФ и СНГ </li>
                    //-     <li>Мирового рынка риса</li>
                    //-     </ul>',
                    //-     true)
                    //-  +block-dropdown(
                    //-     'Ежеквартальные обзоры', 
                    //-     '<ul>
                    //-     <li>Мясного рынка</li>
                    //-     <li>Рынка мяса птицы</li>
                    //-     <li>Молочное животноводство</li>
                    //-     <li>Рынок молочных продуктов</li>
                    //-     <li>Сахарного рынка РФ и СНГ </li>
                    //-     <li>Мирового рынка риса</li>
                    //-     </ul>',
                    //-     true)
                    //- +block-dropdown(
                    //-     'Ежегодные обзоры', 
                    //-     '<ul>
                    //-     <li>Мясного рынка</li>
                    //-     <li>Рынка мяса птицы</li>
                    //-     <li>Молочное животноводство</li>
                    //-     <li>Рынок молочных продуктов</li>
                    //-     <li>Сахарного рынка РФ и СНГ </li>
                    //-     <li>Мирового рынка риса</li>
                    //-     </ul>',
                    //-     true)
                    //- +block-dropdown(
                    //-     'Ценовые дайджесты', 
                    //-     '<ul>
                    //-     <li>Мясного рынка</li>
                    //-     <li>Рынка мяса птицы</li>
                    //-     <li>Молочное животноводство</li>
                    //-     <li>Рынок молочных продуктов</li>
                    //-     <li>Сахарного рынка РФ и СНГ </li>
                    //-     <li>Мирового рынка риса</li>
                    //-     </ul>',
                    //-     true)
