// footer
footer.footer(style="background: url('images/footer-bg.png') center center / cover no-repeat;")
    .container 
        .row
            .col-lg-3
                a(href="index.html")
                    .logo 
                        img(src="images/logo.png" alt="" class="img")
            .col-lg-3
                ul.footer__menu
                    li 
                        a(href="#") О комапнии
                    li 
                        a(href="#") Партнеры и клиенты
                    li 
                        a(href="#") Связь с нами
                    li 
                        a(href="#") Услуги
                    li 
                        a(href="#") Новости рынков
                    li 
                        a(href="#") Лента новостей
                    li 
                        a(href="#") События
                    li 
                        a(href="#") Реклама и сотрудничество
            .col-lg-3 
                .footer__address
                    p. 
                        109428, Москва, 
                        Рязанский пр-т, д. 24 к. 1,
                        Бизнес-центр "Рязанский 24" (правый подъезд), 
                        офис 607, ИКАР
            .col-lg-3 
                .footer__info
                    ul.social 
                        li 
                            a(href="#", target="_blank")
                                img(src="images/telegram.svg" alt="") 
                        li 
                            a(href="#", target="_blank")
                                img(src="images/facebook.svg" alt="") 
                        li 
                            a(href="#", target="_blank")
                                img(src="images/instagram.svg" alt="") 
                        li 
                            a(href="#", target="_blank")
                                img(src="images/youtube.svg" alt="")
                    .phone
                        a(href="tel:74952329007") +7 (495) 232-90-07
                    .mail
                        a(href="mailto:mail@ikar.ru") mail@ikar.ru             

// / footer